<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SSO server login</title>
		<f:base />
	</head>
	<body>
		<h1>The SSO server doesn't have a session for you (yet)</h1>
		<f:flashmessages />
		<p>Please login:</p>
		<f:form action="authenticate">
			<input type="text" name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][username]" tabindex="1" />
			<input type="password" name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][password]" tabindex="2" />
			<input type="submit" value="Login" />
		</f:form>
	</body>
</html>